@*_____________________Agregar un Partial view_____________________*@
<div>Hello, world!</div>
<div>Today is @DateTime.Now.ToString()</div>
@*_______________Pasando datos a las vistas parciales____________*@
<span>
    Iteration number @ViewData["index"]
</span>